<button type="button" class="btn btn-primary" (click)="doClick('Pertamax')">
  Pertamax
</button>
<button type="button" class="btn btn-secondary" (click)="doClick('Pertalite')">
  Pertalite
</button>
<button type="button" class="btn btn-success" (click)="doClick('Solar')">
  Solar
</button>
<button type="button" class="btn btn-danger" (click)="doClick('PertamaxPlus')">
  Pertamax Plus
</button>

<h3>Bensin yang dipilih: {{ name }}</h3>
<h3>Harga Bensin: {{ harga }}</h3>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Jumlah Liter</label>
  <input
    type="number"
    [(ngModel)]="jumlahLiter"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="input liter"
  />
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Jumlah Bayar</label>
  <input
    type="number"
    [(ngModel)]="jumlahBayar"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="input bayar"
  />
</div>

<div class="col-auto">
  <button type="submit" class="btn btn-success mb-3" (click)="doHitung()">
    Hitung
  </button>
  <h3>Harga yang dibayar: {{ jumlahBayar }}</h3>
  <h3>Kembalian: {{ kembalian }}</h3>
</div>

<div [ngClass]="testClass" role="alert">
  <p>Uang Kembali</p>
</div>
