<div class="alert alert-primary" role="alert">
  <h1>Hello World!</h1>
</div>

<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    name="flexRadioDefault"
    id="flexRadioDefault1"
    value="true"
    [(ngModel)]="showData"
    [value]="true"
  />
  <label class="form-check-label" for="flexRadioDefault1"> Show data </label>
</div>

<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    name="flexRadioDefault"
    id="flexRadioDefault2"
    [(ngModel)]="showData"
    [value]="false"
  />
  <label class="form-check-label" for="flexRadioDefault2"> Hide data </label>
</div>

<ng-container *ngIf="showData === true; else kesini">
  <h3>nama saya : {{ name }}</h3>
  <h3>umur saya : {{ age }}</h3>
  <h3>status saya : {{ status }}</h3>
</ng-container>

<ng-template #kesini>
  <p>Halaman tidak ditampilkan</p>
</ng-template>

<ng-container [ngSwitch]="nomor">
  <ng-container *ngSwitchCase="1">1</ng-container>
  <ng-container *ngSwitchCase="2">2</ng-container>
  <ng-container *ngSwitchCase="3"></ng-container>
  <ng-container *ngSwitchDefault>Default</ng-container>
</ng-container>

<app-card
  title="Form Add"
  name=""
  [age]="0"
  [status]="true"
  (dataCallBack)="onCallBack($event)"
></app-card>
<br />
<br />
<app-card
  [title]="person.title"
  [name]="person.name"
  [age]="person.age"
  [status]="person.status"
></app-card>
<br />
<br />
<ng-container *ngFor="let data of personList">
  <app-card
    [title]="data.title"
    [name]="data.name"
    [age]="data.age"
    [status]="data.status"
  ></app-card>
  <br />
  <br />
</ng-container>
